<!DOCTYPE html>
<html>
    <head>
        <title>Rubber Duck Booking Tool</title>
    </head>
    <body>
        <h1>Rubber Duck Booking Tool</h1>
        <div>
            <a href="{% url 'accounts:register' %}">Register</a>
        </div>
        <a href="{% url 'booking:list' %}">Home</a>
        <a href="{% url 'booking:terms' %}">Terms and Conditions</a>
        <a href="{% url 'booking:vocabulary' %}">Vocabulary</a>
        <a href="{% url 'booking:disclaimer' %}">Disclaimer</a>
{% block body %}{% endblock %}
    </body>
</html>
