{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Rubber Duck Booking Tool</title>

        <link rel="stylesheet" type="text/css" href="{% static 'booking.css' %}">
        <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.2/themes/ui-lightness/jquery-ui.css">

        <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
    </head>
    <body>
        <h1>Rubber Duck Booking Tool</h1>
{% if user.is_authenticated %}
        <div>
            Logged in as {{ user }}
            <a href="{% url 'accounts:logout' %}">Logout</a>
        </div>
{% else %}
        <div>
            <a href="{% url 'accounts:login' %}">Login</a> or <a href="{% url 'accounts:register' %}">Register</a>
        </div>
{% endif %}
        <a href="{% url 'booking:list' %}">Home</a>
        <a href="{% url 'booking:terms' %}">Terms and Conditions</a>
        <a href="{% url 'booking:vocabulary' %}">Vocabulary</a>
        <a href="{% url 'booking:disclaimer' %}">Disclaimer</a>
{% block body %}{% endblock %}
        <script type="text/javascript">
{% block endscript %}{% endblock %}
        </script>
    </body>
</html>
