{% extends 'front_template.html' %}
{% load booking_tags %}

{% block body %}
{% if duck_list %}
{% for duck in duck_list %}
<div class="duck" id="duck-icon-{{ duck.id }}" style="background-color: #{{ duck.color }};">
    {{ duck }}<br>
    {{ duck.species }}
</div>
<div class="profile" id="duck-profile-{{ duck.id }}">
    Employee for {{ duck.age|age_format:1 }}<br>
    Location: {{ duck.location }}<br>
    DPX: {{ duck.dpx }}<br>
    <div class="button" id="duck-book-{{ duck.id }}">book-button</div>
    <div class="button complist-button" id="duck-complist-{{ duck.id }}">Competence list</div>
    <div class="button" id="duck-namesugg-{{ duck.id }}">namesugg-button</div>
    <div class="button" id="duck-adopt-{{ duck.id }}">adopt-button</div>
</div>
{% endfor %}
<br class="clear">
{% endif %}
{% endblock %}

{% block endscript %}
$('.complist-button').click(function() {
    duck_id = $(this).attr('id').replace(/^duck-complist-/, '');

    if (isNaN(duck_id) || (duck_id.trim() == '')) {
        return;
    }

    var url = Urls['api:complist'](duck_id);
    var dialog = $('<div style="display: none;"></div>').appendTo('body');

    $.getJSON(url, function(data) {
        var items = [];

        $.each(data, function(key, item) {
            items.push('<li class="competence-' + item.level + '">' + item.name  + ' (' + item.level + ')</li>');
        });

        $('<ul/>', {
            'class': 'complist',
            'html': items.join('')
        }).appendTo(dialog);

        dialog.dialog({
            title: 'Competence list',
            dialogClass: 'no-close',
            buttons: [
                {
                    text: 'Close',
                    click: function() {
                        $(this).dialog('close');
                    }
                }
            ],
            close: function(event, ui) {
                dialog.remove();
            },
            modal: true
        });
    });
});
{% endblock %}
